.home-right-components {
    flex: 6;
    /* width: 100%;*/
    height: 160vh;
    /* background-color: aqua; */

}

.listContainer {

    height: 70vh;
}

.container-chart-slide {
    width: 100%;

    display: flex;
}