.TableList {
    background-color: white;
    margin-top: 35px;
    border-radius: 1rem;
    box-shadow: 0px 2px 4px 2px #a4a4a4e8;
}

.data-layout {
    width: 100%;

}

.cellWithimg {
    display: flex;
    align-items: center;
}

.cellImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.Table-heading-content {
    display: flex;
    justify-content: space-between;
}

.right-caption {
    display: flex;
    flex-direction: column;
    margin: 35px;
}

.right-caption h1 {
    font-size: 1.8rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(4, 4, 37);
}

.right-caption h6 {
    font-size: 0.8rem;
    /* margin-right: 100px; */

}


.right-caption span {
    font-weight: bolder;
}

.mid-left-container {
    display: flex;

}

.middle-caption {
    margin: 2rem;

}

.middle-caption h1 {
    font-size: 1.8rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(4, 4, 37);
}

.middle-caption p {
    font-size: 0.8rem;
}

.left-caption {
    margin: 2rem;

}

.left-caption h1 {
    font-size: 1.8rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(4, 4, 37);
}

.left-caption p {
    font-size: 0.8rem;
}


/* h3 {
    padding: 5px;
    border-radius: 5px;

    &.Done {
        color: green;
        background-color: rgba(10, 93, 10, 0.151);
        font-size: 0.8rem;
    }

    &.inprogress {
        color: blue;
        background-color: rgba(0, 128, 0, 0.151);
        font-size: 0.8rem;
    }
} */


















/* .table{
    margin-top: 2rem;
}*/
/*.cellWrapper{
    display:flex;
    align-items: center;
}

.cellWrapper .image{
    width:32px;
    height:32px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}



.finishdate{
    padding: 5px;
    border-radius: 5px;

    &.sixMon{
        color:rgb(95, 93, 93);
        background-color:rgb(234, 234, 234);
    }
                &.sevenMon {
                    color: rgb(95, 93, 93);
                    background-color: rgb(235, 232, 232);
                }
                                        &.tenFri{
                                            color: rgb(95, 93, 93);
                                            background-color: rgb(235, 232, 232);
                                        }
                                                                                        &.nineteenSun {
                                                                                            color: rgb(95, 93, 93);
                                                                                            background-color: rgb(239, 239, 239);
                                                                                        }
}
 */